<ion-header>
  <ion-toolbar>
    <ion-title>Filmes em Cartaz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Campo de busca -->
  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionInput)="searchMovies()"
    debounce="500"
    placeholder="Buscar por filme..."
    (keyup.enter)="searchMovies()">
  </ion-searchbar>

  <!-- Botão de busca -->
  <ion-button expand="full" (click)="searchMovies()">Buscar</ion-button>

  <!-- Exibição dos filmes -->
  <ion-grid>
    <ion-row>
      <!--Requisito NGFOR-->
      <ion-col size="6" *ngFor="let filme of filmes">
        <ion-card (click)="showDetails(filme)">
          <ion-card-header>
            <ion-card-title>{{ filme.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-thumbnail slot="start">
              <img [src]="'https://image.tmdb.org/t/p/w154' + filme.poster_path" />
            </ion-thumbnail>
            <p>{{ filme.release_date | date }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

