<ion-header>
  <ion-toolbar>
    <ion-title>Filmes e Séries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Campo de busca -->
  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionInput)="searchMovies()"
    debounce="500"
    placeholder="Buscar por filme..."
    (keyup.enter)="searchMovies()">
  </ion-searchbar>

  <!-- Menu com botões -->
  <ion-segment [(ngModel)]="categoriaSelecionada" (ionChange)="trocarCategoria()">
    <ion-segment-button value="filmes">
      Filmes
    </ion-segment-button>
    <ion-segment-button value="series">
      Séries
    </ion-segment-button>
    <ion-segment-button value="cartaz">
      Em Cartaz
    </ion-segment-button>

    <ion-segment-button value="Filtrar" routerLink="/generos">
       Filtrar por gêneros
    </ion-segment-button>
  </ion-segment>

  <!-- Botão de exemplo para *ngIf -->
  <ion-button size="small" (click)="toggleMensagem()">
    {{ mostrarMensagem ? 'GRUPO FORMADO POR: ' : 'Grupo' }}
  </ion-button>

  <!-- Texto exibido com *ngIf -->
  <p *ngIf="mostrarMensagem" style="color: darkblue; font-size: 1.2rem; margin-top: 1rem;">
      Alesson Carlos, Alvaro Henrique, Antonio Luan, Gabriel Alvaro, Marcos, João Victor, Beinjamin
  </p>

  <!-- Exibição dos filmes e séries -->
  <ion-grid *ngIf="filmes.length > 0">
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let filme of filmes">
        <ion-card>
          <!-- IMAGEM GRANDE -->
          <img 
            [src]="'https://image.tmdb.org/t/p/w500' + filme.poster_path" 
            *ngIf="filme.poster_path"
            style="width: 100%; height: auto; border-radius: 8px;" />

          <ion-card-header>
            <ion-card-title>{{ filme.title || filme.name }}</ion-card-title>
            <ion-card-subtitle>Nota: {{ filme.vote_average }}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            {{ filme.overview || 'Sem sinopse disponível.' }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Mensagem de erro caso não encontre filmes -->
  <ion-item *ngIf="filmes.length === 0">
    <ion-label>Nenhum filme ou série encontrado.</ion-label>
  </ion-item>
</ion-content>
